@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>Welcome User</title>
</head>
<body>
    <h1>Welcome</h1>
    <form asp-action="DisplayName" method="post">
        <label for="Name">Name: </label>
        <input type="text" name="Name" id="Name" />
       <input type="submit" value="Proceeed" />
    </form>
</body>
</html>
